#about {
    background-color: rgb(251, 254, 255)
}

#about h2 {
    font-family: play;
    font-size: 50px;  
}

#about h3 {
    padding-top: 15px;
    
}

#about .title {
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

#about .quote {
    font-family: play;
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

#about .team {
    display: flex;
    justify-content: center;
    padding-bottom: 165px;
}

#about .player {
    transition: .5s;
    background-color: white;
    border-radius: 10px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-shadow: 5px 5px 10px #444444;
    margin: 2%;
    font-family: play;
}

#about .player:hover {
    transform: scale(1.025)
}

#about img {
    width: 250px;
}