#airfilming {
    background-image: url(/images/barcelona_air.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 1000px;
}

#airfilming .videoproperties {
    height: 100%;
    width: 100%;
    margin-bottom: 0;
}

#airfilming .socialMedia {
    background-color: black;
    display: flex;
    justify-content: space-evenly; 
    margin-top: 0;

}

#airfilming .logo {
    padding: 10px;
}

#airfilming .autorizados {
    font-family: play;
    font-size: 25px;
    display: flex;
    color: white;
}

#airfilming p {
    padding-top: 15px;
    padding-right: 30px;
}





