#airfilming {
    background-image: url(/images/barcelona_air.jpg);
    background-size: cover;
}

#airfilming h2 {
    font-family: play;
    font-size: 50px;  
}

#airfilming .title {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}

#airfilming .video {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

#airfilming .videoproperties {
    border: none;
}

#airfilming .socialMedia {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

#airfilming .logo {
    padding: 10px;
}





