#airfilming {
    background-size: cover;
    background-attachment: fixed;
    height: 90vh;
}

#airfilming .videoproperties {
    padding-top: 75px;
}

#airfilming .socialMedia {
    background-color: rgb(15, 15, 15);
    display: flex;
    justify-content: space-around; 
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0
}

#airfilming .logo {
    padding: 10px;
}

#airfilming .logo2 {
    padding: 10px;
    padding-left: 20px;
}



#airfilming .autorizados {
    font-family: play;
    font-size: 25px;
    display: flex;
    align-content: center;
    align-items: center;
    color: white;
}

#airfilming p {
    padding-top: 10px;
    padding-right: 30px;
}

#airfilming .youtube {
    width: 50px;
    
}

#airfilming .insta {
    width: 35px;
}

#airfilming .sharing {
    display: flex;
    font-family: play;
    font-size: 25px;
    align-content: center;
    align-items: center;
    color: white;
}







