#contact {
    background-image: url(/images/test.jpg);
    background-attachment: fixed;
    background-size: cover;

}

#contact h2 {
    font-family: play;
    font-size: 50px;  
    color: white;
    padding-top: 50px;
    padding-bottom: 20px;
}

#contact .title {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

#contact .container {
    padding-bottom: 240px; 
}

#contact .information {
    background-color: rgba(255, 255, 255);
    width: 80%;
    max-width: 350px;
    margin: auto;
    border-radius: 5px;
    padding-top: 50px;
   
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

#contact .info {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

#contact h3 {
    font-family: play;
    margin:0
}

#contact .socialMedia {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

#contact .logo {
    padding: 10px;
}

#contact p {
    padding-top: 10px;
    font-size: 18px;
}

#contact .youtube {
    width: 50px;
}

#contact .insta {
    width: 35px;
}

#contact hr {
    height: 2px;
    color: black;
    width: 60%;

}



