@media only screen and (-webkit-min-device-pixel-ratio: 1)
                   and (max-width: 600px)
                   and (min-resolution: 192dpi) {
    #contact {
        background-image: url(/images/test_small.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: black;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1)
                   and (min-width: 600px)
                   and (min-resolution: 192dpi) {
    #contact {
        background-image: url(/images/test_small.jpg);
        background-position: center center; 
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: black;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1)
                   and (min-width: 768px)
                   and (min-resolution: 192dpi) {
    #contact {
        background-image: url(/images/test_middle.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: black;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1)
                   and (min-width: 1200px)
                   and (min-resolution: 192dpi) {
    #contact {
        background-image: url(/images/test.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: black;
    }
}

#contact {
    font-family: "Play";
}

#contact h2 {
    font-family: play;
    font-size: 50px;  
    color: white;
    padding-top: 50px;
    padding-bottom: 20px;
}

#contact .title {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    text-decoration: overline;
    color: white;
}

#contact .container {
    padding-bottom: 200px; 
}

#contact .information {
    background-color: rgba(255, 255, 255);
    width: 80%;
    max-width: 350px;
    margin: auto;
    border-radius: 5px;
    padding-top: 50px;
   
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

#contact .info {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
}

#contact h3 {
    font-family: play;
    margin:0
}

#contact .socialMedia {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

#contact .logo {
    padding: 10px;
}

#contact p {
    padding-top: 10px;
    font-size: 18px;
}

#contact .youtube {
    width: 50px;
}

#contact .whatsapp {
    width: 35px;
}

#contact .insta {
    width: 35px;
}

#contact hr {
    height: 2px;
    color: black;
    width: 60%;
}

#contact .generalitat {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 10px;
    padding-left: 5%;
    padding-right: 5%;
}

#contact .iniciativa {
    width: 100%;
    max-width: 600px;
    padding: 2%;
    height: auto;
}

#contact .aesa {
    width: 100%;
    max-width: 300px;
    padding: 2%;
    height: auto;
}

#contact .gobierno {
    width: 100%;
    max-width: 400px;
    padding: 2%;
    height: auto;
}



