#drones {
    background-image: url(/images/sky.jpg);
    background-attachment: fixed;
    background-size: cover;
}

#drones h2 {
    font-family: play;
    font-size: 50px;  
}

#drones .title {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

#drones .quote {
    font-family: play;
    font-size: 18px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 100px;
}


#drones .sections {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 150px;
}

#drones .section {
    background-color: white;
    border-radius: 5px;
    padding-right: 50px;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-shadow: 5px 5px 10px #444444 ;
}

#drones img {
    width: 250px;
}

#drones .properties {
    padding-top: 20px;
    padding-bottom: 50px;
    align-items: flex-end;
}

#drones .type {
    font-family: play;
    padding-top: 20px;
}

