@media only screen and (max-width: 600px) {
    #drones {
        background-image: url(/images/test_small.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: black;
    }
}

@media only screen and (min-width: 600px) {
    #drones {
        background-image: url(/images/test_small.jpg);
        background-position: center center; 
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: black;
    }
}

@media only screen and (min-width: 768px) {
    #drones {
        background-image: url(/images/test_middle.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: black;
    }
}

@media only screen and (min-width: 1200px) {
    #drones {
        background-image: url(/images/test.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: black;
    }
}

#drones {
    font-family: "Play";
}

#drones h2 {
    color: white;
    font-size: 50px;  
}

#drones .title {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: overline;
    color: white;
}

#drones .quote {
    color:white;
    font-family: play;
    font-size: 18px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 100px;
    min-width: 70%;
    padding-right: 20px;
    padding-left: 20px;
}

#drones .sections {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 205px;
    flex-wrap: wrap;
}

#drones .section {
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    box-shadow: 5px 5px 10px black ;
    font-family: play;
    margin-bottom: 50px;
    height: 450px;
    width: 300px;
}

#drones img:hover {
    transform: scale(1.1)
}

#drones img {
    align-self: center;
    width: 250px;
    transition: .5s;
}

#drones .propertiesPro {
    padding-bottom: 50px;
}

#drones .propertiesMini {
    padding-bottom: 50px;
    position: relative;
    top: 73px;
}

#drones .propertiesFpv {
    padding-bottom: 50px;
    position: relative;
    top: 9px;
    
}

#drones .typePro{
    font-family: play;
    padding-top: 60px;
}

#drones .typeMini{
    font-family: play;
    padding-top: 60px;
    position: relative;
    bottom: 73px
}

#drones .typeFpv{
    font-family: play;
    padding-top: 60px;
    position: relative;
    bottom: 9px;
}







