#myNavBar {
    font-family: play;  
    background-color: rgb(15, 15, 15);  
}

#myNavBar .desktop-navbar {
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    
}

#myNavBar .airfilming {
    font-size: 30px;
}

#myNavBar .mr-auto {
    font-size: 18px;
}

#fakeitem {
    display: block;
    width: 60px;
}

.navbar-dark .navbar-toggler {
    border:none;
    outline: none;
}











