#myNavBar {
    position: fixed;
    font-family: play;
    background-color: black;
    height: 75px;
    width: 100%;
    z-index: 99999;

}

#myNavBar .sections {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    padding-top: 25px 
}

#myNavBar .section {
    text-decoration: none;   
    color: white;
}








