#services {
    background-color: rgb(230, 230, 230);
}

#services h2 {
    font-family: play;
    font-size: 50px;  
}

#services h3 {
    font-family: play;  
}

#services .title {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

#services hr {
    width: 20%;
}

#services .sections {
    display: flex;
    justify-content: space-around;
    padding-bottom: 100px;
}

#services .section1 {
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    
}

#services .section2 {
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    
}

#services .section3 {
    padding-top: 200px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-direction: column;
}


#myCarousel {
    background-color: rgba(255, 255, 255, 0.7);
    max-width: 700px;
    margin: auto;
}

#myCarousel img {
    width: 100px;
}

